* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: grey;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  display: flex;
}
main {
  max-width: 1024px;
  margin: auto;
  background-color: grey;
  flex-grow: 1;
}
h1 {
  color: blue;
}
.responsive {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px;
  border-radius: 10px;
}
.hidebutton {
  width: 50%;
  height: 20%;
  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 10px;
  transition: background-color 0.4s ease, color 0s ease;
}
.hidebutton:hover {
  background-color: green;
}
.img-container .hidebutton {
  transform: translate(90%, -300%);
  -ms-transform: translate(100%, 100%);
}
.introduction {
  text-align: center;
}
.logo {
  width: 35px;
  height: 35px;
}
li {
  list-style: none;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: lightblue;
  margin-bottom: 5px;
}

.navlinks a:hover {
  color: white;
}

.navlinks {
  display: flex;
}

.navlinks a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

h2 {
  margin-bottom: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About section */

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: xx-large;
  color: beige;
}

.bio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: beige;
  text-decoration: overline;
  margin-top: 30px;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.profile-container img {
  border-radius: 100%;
  width: 300px;
  box-shadow: 7px 7px 7px;
}

.bio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: double;
  width: 500px;
  height: 300px;
  margin-top: -10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
  padding-top: 0%;
}

.bio-text {
  font-size: 25px;
  color: beige;
}

/* Contact section */

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: xx-large;
}

/* Card section */

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  padding: 5px;
  background-color: lightblue;
  width: 25%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-img img {
  width: 100%;
}
.card-content {
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.oceanbutton {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
}

.oceanbutton:hover {
  background-color: white;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: lightblue;
  justify-content: space-between;
  padding: 5px;
}
.logo-footer img {
  width: 30%;
  margin-left: 30px;
}

.logo-footer {
  display: flex;
  align-items: center;
}

.logo-footer p {
  font-size: 25px;
}

.social-links {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 34px;
}

.social-links a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.social-link-items {
  display: flex;
}

.social-link-items a:hover {
  color: white;
}

/* form section */

.contact-names {
  width: 25px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: double;
  border-radius: 10px;
  border-width: 5px;
  padding: 1.5%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#email {
  width: 400px;
}

input {
  width: 200px;
  height: 25px;
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

textarea {
  width: 400px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

input::placeholder {
  color: grey;
}

textarea::placeholder {
  color: grey;
}

.submit-btn {
  width: 400px;
  padding: 4px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.submit-btn:hover {
  background-color: lightblue;
  color: black;
  text-decoration: solid;
}

/* Gallery section */

/*Mobile styles (phones )*/
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    width: 100% !important;
    height: auto !important;
    padding: 5px !important;
  }
}

.gallery-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: xx-large;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  width: 1024px;
  height: 1024px;
  background-color: gray;
  margin-bottom: 10px;
}

.grid-item {
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  border-width: 15px;
  box-shadow: 3px 3px 3px;
  background-color: lightblue;
}

.i-one {
  grid-column: 1/3;
}

.i-two {
  grid-column: 3;
  grid-row: 1/3;
}

.i-three {
  grid-column: 1/2;
  grid-row: 2/4;
}

.i-four {
  grid-column: 2;
}

.i-five {
  grid-column: 2/4;
}

.grid-item img {
  width: 100%;
}

.i-one {
  background-image: url("assets/cool-water.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.i-two {
  background-image: url(assets/waterfalls.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.i-three {
  background-image: url(assets/waterfall-pond.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.i-four img {
  object-fit: cover;
  width: 100%;
}

.i-five {
  background-image: url(assets/snow.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-paragraph {
  font-size: 26px;
  color: black;
}
