body {
  background: #88b4e3;
  background: linear-gradient(
    90deg,
    rgba(136, 180, 227, 1) 13%,
    rgba(152, 227, 182, 1) 75%,
    rgba(214, 205, 118, 1) 92%
  );
}
button {
  background-color: #d6cd76;
  border-radius: 10px;
}
ol {
  border-style: double;
  border-radius: 10px;
}
li {
  border-style: double;
  background-color: aliceblue;
  word-break: break-word;
  white-space: normal;
  border-radius: 10px;
}
input {
  background-color: aliceblue;
  border-radius: 10px;
}
